<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Branch</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchCode">Branch Code<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="branchCode" placeholder="Enter Branch Code">
                <mat-error *ngIf="isControlHasError('branchCode','required')">
                  Branch Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchName">Branch Name<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="branchName" placeholder="Enter Branch Name">
                <mat-error *ngIf="isControlHasError('branchName','required')">
                  Branch Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="addressLine1">Address<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="addressLine1" placeholder="Enter Address">
                <mat-error *ngIf="isControlHasError('addressLine1','required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="phoneNo">Phone No.<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="phoneNo"
                  (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                  placeholder="Enter mobile number">
                <mat-error *ngIf="isControlHasError('phoneNo','pattern')">
                  This field required only numeric values
                </mat-error>
                <mat-error *ngIf="isControlHasError('phoneNo','required')">
                  Phone No. is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="isControlHasError('phoneNo','maxlength') || isControlHasError('phoneNo','minlength')">
                  Phone No. should be in 10 digits only
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
            <div class="col-8">

              <!-- <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="citySelect($event.value)" formControlName="city" placeholder="Select City">
                  <mat-option *ngFor="let name of CityName" [value]="name.id">
                    {{name.cityName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('city','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field> -->

              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="citySelect($event.value)" formControlName="city" placeholder="Select City">

                  <mat-optgroup >
                    <mat-form-field style="width:100%;">
                      <input #search autocomplete="off" [formControl]="searchTextboxControl" placeholder="Search" aria-label="Search" matInput (keyup)="searchDropdown(search.value)">
                      <button [disableRipple]="true" *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch($event)">
                      <mat-icon >close</mat-icon>
                    </button>
                           </mat-form-field>
                      </mat-optgroup>
                      <!-- <mat-optgroup *ngIf="(filteredOptions | async).length == 0">
                        <div>No results found!</div>
                      </mat-optgroup> -->

                  <mat-option *ngFor="let name of filterCityName" [value]="name.id">
                    {{name.cityName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="state">State<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="stateSelect($event.value)" formControlName="state" placeholder="Select State">
                  <mat-option *ngFor="let name of StateName" [value]="name.id">
                    {{name.stateName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('state','required')">
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="country">Country<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="countrySelect($event.value)" formControlName="country" placeholder="Select Country">
                  <mat-option *ngFor="let name of countryName" [value]="name.id">
                    {{name.countryName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('country','required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="postalCode">Pincode<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="pincideSelect($event.value)" formControlName="postalCode" placeholder="Select Pincode">
                  <mat-option *ngFor="let name of PincodeName" [value]="name.id">
                    {{name.pincode}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('postalCode','required')">
                  Pincode is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="area">Area<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="area" placeholder="Enter Area">
                <mat-error *ngIf="isControlHasError('area','required')">
                  Area is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="pincode">Pincode<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="pincode"
                  (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="6" maxlength="6"
                  placeholder="Enter Pincode">
                <mat-error *ngIf="isControlHasError('pincode','pattern')">
                  This field required only numeric values
                </mat-error>
                <mat-error *ngIf="isControlHasError('pincode','required')">
                  Pincode is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="isControlHasError('pincode','maxlength') || isControlHasError('pincode','minlength')">
                  Pincode should be in 6 digits only
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="parentBranch">Parent Branch<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="parentBranch" placeholder="Enter Parent Branch">
                <mat-error *ngIf="isControlHasError('parentBranch','required')">
                  Parent Branch is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="externalBranchCode">External Branch Code<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="externalBranchCode" placeholder="Enter External Branch Code">
                <mat-error *ngIf="isControlHasError('externalBranchCode','required')">
                  External Branch Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="branchType">Branch Type<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="branchType" placeholder="Select Branch Type">
                  <mat-option *ngFor="let name of branchTypeName" [value]="name.viewValue">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('branchType','required')">
                  Branch Type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="region">Region<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="region" placeholder="Select Region">
                  <mat-option *ngFor="let name of regionName" [value]="name.id">
                    {{name.regionName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('region','required')">
                  Region is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="active">Active<span class="text-danger"> *</span></label></div>
            <div class="col-8">
                <mat-slide-toggle color="primary" formControlName="active" class="mt-2"></mat-slide-toggle>
                <mat-error *ngIf="isControlHasError('active','required')">
                  Active is <strong>required</strong>
                </mat-error>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()" color="primary">{{createAddEditBtnName}}</button>
      </div>
  </mat-card-actions>
</mat-card>
</main>
