<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Pincode</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="pincode">PinCode<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="pincode"
                  placeholder="Enter PinCode">
                <mat-error *ngIf="isControlHasError('pincode','required')">
                  PinCode is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="groupId">Group Id<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="groupId"
                  placeholder="Enter Group Id">
                <mat-error *ngIf="isControlHasError('groupId','required')">
                  Group Id is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="city_id">City<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="city_id" placeholder="Select
                City">
                  <mat-option *ngFor="let name of CityName"
                    [value]="name.id">
                    {{name.cityName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('city_id','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="areaName">Area Name<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="areaName"
                  placeholder="Enter Area Name">
                <mat-error
                  *ngIf="isControlHasError('areaName','required')">
                  Area Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
            <div class="row">
              <div class="col-6 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="serviceable">Serviceable<span class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary"
                      formControlName="serviceable" class="mt-2"></mat-slide-toggle>
                    <mat-error
                      *ngIf="isControlHasError('serviceable','required')">
                      Serviceable is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-6 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="active">Active<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary" formControlName="active"
                      class="mt-2"></mat-slide-toggle>
                    <mat-error *ngIf="isControlHasError('active','required')">
                      Active is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn"
        (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()"
        color="primary">{{createAddEditBtnName}}</button>
    </div>
  </mat-card-actions>
</mat-card>
</main>
