<main id="main" class="main">
  <div class="pagetitle">
     <h1>Profile</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
           <li class="breadcrumb-item active">My Profile</li>
        </ol>
     </nav>
  </div>
  <section class="section profile">
     <div class="row">
        <div class="col-xl-4">
           <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                 <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                 <h2>{{userDetailAtoBValue.salutation}} {{userDetailAtoBValue.firstName}} {{userDetailAtoBValue.lastName}}</h2>
                 <h3>( {{roleArray}} )</h3>
                 <!-- <div class="social-links mt-2"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a></div> -->
              </div>
           </div>
        </div>
        <div class="col-xl-8">
           <div class="card">
              <div class="card-body pt-3">
                 <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button></li>
                    <!-- <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li> -->
                 </ul>
                 <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                       <h5 class="card-title">About</h5>
                       <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p>
                       <h5 class="card-title">Profile Details</h5>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Full Name</div>
                          <div class="col-lg-9 col-md-8">{{userDetailAtoBValue.salutation}} {{userDetailAtoBValue.firstName}} {{userDetailAtoBValue.lastName}}</div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label">Role</div>
                          <div class="col-lg-9 col-md-8">{{roleArray}}</div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label">Phone</div>
                          <div class="col-lg-9 col-md-8">{{userDetailAtoBValue.mobileNo}}</div>
                       </div>
                       <div class="row">
                          <div class="col-lg-3 col-md-4 label">Email</div>
                          <div class="col-lg-9 col-md-8">{{userDetailAtoBValue.email}}</div>
                       </div>
                    </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                      <form [formGroup]="addEditForm">
                          <div class="row mb-3">
                             <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                             <div class="col-md-8 col-lg-9">
                                <img src="assets/img/profile-img.jpg" alt="Profile">
                                <div class="pt-2"> <a class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a> <a class="btn btn-danger btn-sm" style="margin-left: 10px;" title="Remove my profile image"><i class="bi bi-trash"></i></a></div>
                             </div>
                          </div>
                          <!-- <div class="row mb-3">
                             <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                             <div class="col-md-8 col-lg-9"> <input name="fullName" type="text" class="form-control" id="fullName" value="Jassa"></div>
                          </div> -->
                            <!-- <div class="row">
                              <div class="col-md-4 col-lg-3 col-form-label"><label for="FullName">Full Name<span class="text-danger"> *</span></label></div>
                              <div class="col-md-8 col-lg-9">
                                <mat-form-field class="w-100" appearance="outline">
                                  <input type="text" matInput formControlName="FullName" placeholder="Enter Full Name">
                                  <mat-error *ngIf="isControlHasError('FullName','required')">
                                    Full Name is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div> -->

                            <!-- <div class="row"> -->

                              <div class="row">
                                <div class="col-md-4 col-lg-3 col-form-label"><label for="salutation">Salutation<span class="text-danger"> *</span></label></div>
                                <div class="col-md-8 col-lg-9">
                                  <mat-form-field class="w-100" appearance="outline">
                                    <mat-select formControlName="salutation" placeholder="Enter User
                                      Type">
                                      <mat-option *ngFor="let name of salutationArray" [value]="name.viewValue">
                                        {{name.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isControlHasError('salutation','required')">
                                      Salutation is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-4 col-lg-3 col-form-label"><label for="firstName">First Name<span class="text-danger"> *</span></label></div>
                                <div class="col-md-8 col-lg-9">
                                  <mat-form-field class="w-100" appearance="outline">
                                    <input type="text" matInput formControlName="firstName" placeholder="Enter First Name">
                                    <mat-error *ngIf="isControlHasError('firstName','required')">
                                      First Name is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-lg-3 col-form-label"><label for="lastName">Last Name<span class="text-danger"> *</span></label></div>
                                <div class="col-md-8 col-lg-9">
                                  <mat-form-field class="w-100" appearance="outline">
                                    <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name">
                                    <mat-error *ngIf="isControlHasError('lastName','required')">
                                      Last Name is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>

                            <div class="row">
                              <div class="col-md-4 col-lg-3 col-form-label"><label for="About">About<span class="text-danger"> *</span></label></div>
                              <div class="col-md-8 col-lg-9">
                                <mat-form-field class="w-100" appearance="outline">
                                  <textarea matInput formControlName="About" placeholder="Enter About"></textarea>
                                  <mat-error *ngIf="isControlHasError('About','required')">
                                    About is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4 col-lg-3 col-form-label"><label for="mobileNo">Phone No.<span class="text-danger"> *</span></label></div>
                              <div class="col-md-8 col-lg-9">
                                <mat-form-field class="w-100" appearance="outline">
                                  <input type="text" matInput formControlName="mobileNo"
                                    (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                                    placeholder="Enter mobile number">
                                  <mat-error *ngIf="isControlHasError('mobileNo','pattern')">
                                    This field required only numeric values
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('mobileNo','required')">
                                    Phone No. is <strong>required</strong>
                                  </mat-error>
                                  <mat-error
                                    *ngIf="isControlHasError('mobileNo','maxlength') || isControlHasError('mobileNo','minlength')">
                                    Phone No. should be in 10 digits only
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4 col-lg-3 col-form-label"><label for="email">Email Id<span class="text-danger"> *</span></label></div>
                              <div class="col-md-8 col-lg-9">
                                <mat-form-field class="w-100" appearance="outline">
                                  <input type="email" matInput formControlName="email" placeholder="Enter Email Id">
                                  <mat-error *ngIf="isControlHasError('email','required')">
                                    Email Id is <strong>required</strong>
                                  </mat-error>
                                  <mat-error *ngIf="isControlHasError('email','email')">
                                    Please enter Valid Email Id
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          <!-- <div class="row mb-3">
                             <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                             <div class="col-md-8 col-lg-9"> <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                             <div class="col-md-8 col-lg-9"> <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                             <div class="col-md-8 col-lg-9"> <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                             <div class="col-md-8 col-lg-9"> <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#"></div>
                          </div> -->
                          <div class="text-center"> <button type="submit" (click)="changeProfile()" class="btn btn-primary">Save Changes</button></div>
                       </form>
                    </div>
                    <div class="tab-pane fade pt-3" id="profile-settings">
                       <form>
                          <div class="row mb-3">
                             <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                             <div class="col-md-8 col-lg-9">
                                <div class="form-check"> <input class="form-check-input" type="checkbox" id="changesMade" checked> <label class="form-check-label" for="changesMade"> Changes made to your account </label></div>
                                <div class="form-check"> <input class="form-check-input" type="checkbox" id="newProducts" checked> <label class="form-check-label" for="newProducts"> Information on new products and services </label></div>
                                <div class="form-check"> <input class="form-check-input" type="checkbox" id="proOffers"> <label class="form-check-label" for="proOffers"> Marketing and promo offers </label></div>
                                <div class="form-check"> <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled> <label class="form-check-label" for="securityNotify"> Security alerts </label></div>
                             </div>
                          </div>
                          <div class="text-center"> <button type="submit" class="btn btn-primary">Save Changes</button></div>
                       </form>
                    </div>
                    <div class="tab-pane fade pt-3" id="profile-change-password">
                       <form>
                          <div class="row mb-3">
                             <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                          </div>
                          <div class="row mb-3">
                             <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                             <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                          </div>
                          <div class="text-center"> <button type="submit" class="btn btn-primary">Change Password</button></div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>
