<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} State</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="stateCode">State Code<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="stateCode"
                  placeholder="Enter State Code">
                <mat-error *ngIf="isControlHasError('stateCode','required')">
                  State Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="stateName">State Name<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="stateName"
                  placeholder="Enter State Name">
                <mat-error
                  *ngIf="isControlHasError('stateName','required')">
                  State Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="country_id">Country<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="country_id" placeholder="Select
                  Country">
                  <mat-option *ngFor="let name of countryName"
                    [value]="name.id">
                    {{name.countryName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('country_id','required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="gstStateCode">GST State Code<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="gstStateCode"
                  placeholder="Enter GST State Code">
                <mat-error *ngIf="isControlHasError('gstStateCode','required')">
                  GST State Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="coreGlareas">Core GL Business
                Area<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="coreGlareas"
                  placeholder="Enter Core GL Business Area">
                <mat-error *ngIf="isControlHasError('coreGlareas','required')">
                  Core GL Business Area is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="hostrefNo">Host Reference No<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="hostrefNo"
                  placeholder="Enter Host Reference No">
                <mat-error *ngIf="isControlHasError('hostrefNo','required')">
                  Host Reference No is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-4 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="unionTerritory">Union
                      Territory<span class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary"
                      formControlName="unionTerritory" class="mt-2"></mat-slide-toggle>
                    <mat-error
                      *ngIf="isControlHasError('unionTerritory','required')">
                      Union Territory is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="gstExempted">GST Exempted<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary"
                      formControlName="gstExempted" class="mt-2"></mat-slide-toggle>
                    <mat-error
                      *ngIf="isControlHasError('gstExempted','required')">
                      GST Exempted is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="gstnAvailable">GSTIN Available<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary"
                      formControlName="gstnAvailable" class="mt-2"></mat-slide-toggle>
                    <mat-error
                      *ngIf="isControlHasError('gstnAvailable','required')">
                      GSTIN Available is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="active">Active<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary" formControlName="active"
                      class="mt-2"></mat-slide-toggle>
                    <mat-error *ngIf="isControlHasError('active','required')">
                      Active is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div class="col-4 mb-3">
                <div class="row">
                  <div class="col-6 mt-2"><label for="isDefault">Is Default<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-6">
                    <mat-slide-toggle color="primary" formControlName="isDefault"
                      class="mt-2"></mat-slide-toggle>
                    <mat-error *ngIf="isControlHasError('isDefault','required')">
                      Is Default is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn"
        (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()"
        color="primary">{{createAddEditBtnName}}</button>
    </div>
  </mat-card-actions>
</mat-card>
</main>
