.login_img{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    }
    .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }

    .login_form{
        width: 30%;
    top: 22%;
    left:5%
    }
    .comapany_logo{
        margin-left: 28%; margin-bottom: 10px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 10px 0px !important;
  }
  .padding3px0px{
    padding: 3px 0px
  }
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 3px 0.75em 0 0.75em !important;
    margin-top: -0.25em;
    position: relative;
}
/* .mat-form-field-label-wrapper {
  top: -10px;
  padding-top: 0.84375em;
} */
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 8px 0px !important;
}
.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 6px solid transparent !important;
}
input.mat-input-element {
  margin-top: 5px;
}