<div class="row mx-0">
    <!-- <div class="col p-0"> -->
        <img src="../../../../../assets/images/fintech.jpg" class="login_img position-relative">
        <mat-card class="m-4 position-absolute login_form">
            <img src="../../../../../assets/images/company.png" class="comapany_logo" />
            <mat-card-title>Login</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <mat-card-actions>
                <form [formGroup]="loginForm">
                    <div class="example-container">

                        <div class="row mt-2 mx-0">
                            <mat-form-field appearance="outline" >
                                <mat-label>Enter your Username</mat-label>
                                <input matInput class="padding3px0px" placeholder="Username" formControlName="username" required>
                                <mat-error *ngIf="isControlHasError('username','required')">Username is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row mt-2 mx-0">
                            <mat-form-field appearance="outline" >
                                <mat-label>Enter your Password</mat-label>
                                <input type="password" matInput class="padding3px0px" placeholder="Password" formControlName="password" required>
                                <mat-error *ngIf="isControlHasError('password','required')">Password is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button (click)="login()" class="my-3" color="primary">Login</button>
                </form>
            </mat-card-actions>
        </mat-card>
    <!-- </div> -->
    <!-- <div class="col-md-4 pt-5 p-0">
    </div> -->
</div>
