.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-card-title-style{
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
}
.Save_btn{
  color: white;
  background-color: gray;
}
.btn_group{
  display: flex;
  justify-content: right;
}
.card_header{
  display: inline;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    background-color: white;
    padding: 0px 10px;
}

.remove_iocn{
  position: absolute;
    top: 2px;
    right: 50px;
    background-color: white;
    font-size: 20px;
}

.varify_btn{
  color: white;
  background-color: rgb(14, 174, 0);
}
.card{
  border: 1px solid;
}
.card_header{
  border-top: 1px solid black;
    border-radius: 10px;
}

.customRemove{
  margin-left: 10px;
  position: absolute;
  cursor: pointer;
}


.optSucees{
  position: absolute;
    font-size: 35px;
    left: 100px;
    top: -8px;
}
.spanTextBoxHeight{
  height: 30px;
  margin-top: 6px;
  width: 100%;
  color: rgba(0,0,0,.40);
  font-size: 12px;
  border-color: rgba(0,0,0,0.06);
}
.mt_20px{
  margin-top: 20px;
}
