<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}}</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="card p-3">
        <span class="card_header text-primary">Lead Details</span>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadId">Lead Id<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="leadId"
                    placeholder="Enter Lead Id" readonly>
                  <mat-error *ngIf="isControlHasError('leadId','required')">
                    Lead Id is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="salutation">Name<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="name"
                    placeholder="Enter Name" readonly>
                  <mat-error *ngIf="isControlHasError('name','required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="mobileNo">Mobile Number<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="mobileNo"
                    (keypress)="omitSpecialChar($event);omitCharacters($event);"
                    minlength="10" maxlength="10"
                    placeholder="Enter mobile number" readonly>
                  <mat-error *ngIf="isControlHasError('mobileNo','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('mobileNo','required')">
                    Mobile Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('mobileNo','maxlength') ||
                    isControlHasError('mobileNo','minlength')">
                    Mobile Number should be in 10 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="email">Email Id<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="email" matInput formControlName="email"
                    placeholder="Enter Email Id" readonly>
                  <mat-error *ngIf="isControlHasError('email','required')">
                    Email Id is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('email','email')">
                    Please enter Valid Email Id
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="gender">Gender<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="gender" placeholder="Select Gender">
                    <mat-option *ngFor="let name of genderName" [value]="name.viewValue">
                      {{name.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('gender','required')">
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="dateOfBirth">Date of Birth<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput [matDatepicker]="picker"
                    formControlName="dateOfBirth" placeholder="MM/DD/YYYY"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error
                    *ngIf="isControlHasError('dateOfBirth','required')">
                    Date of Birth is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->
          <div class="col-6 ">
            <div class="row">
              <div class="col-4 mt-2"><label >Date of Birth</label></div>
              <div class="col-8">
                <span class="form-control spanTextBoxHeight">{{dateOfBirthFormate | date:'d MMMM , y'}}</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="pan">Pan Number<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="pan" readonly
                    placeholder="Enter Pan Number">
                  <mat-error *ngIf="isControlHasError('pan','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('pan','required')">
                    Pan Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('pan','maxlength') ||
                    isControlHasError('pan','minlength')">
                    Pan Number should be in 6 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="aadhar">Addhar Number<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="aadhar" readonly
                    (keypress)="omitSpecialChar($event);omitCharacters($event);"
                    minlength="12" maxlength="12"
                    placeholder="Enter Addhar Number">
                  <mat-error *ngIf="isControlHasError('aadhar','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('aadhar','required')">
                    Addhar Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('aadhar','maxlength') ||
                    isControlHasError('aadhar','minlength')">
                    Addhar Number should be in 12 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
<!--
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="city">City<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="city" placeholder="Select City">
                    <mat-option *ngFor="let name of cityName"
                      [value]="name.value">
                      {{name.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('city','required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="city" [placeholder]="cityPlaceholderName">
                    <mat-option *ngFor="let name of CityName" [value]="name.id">
                      {{name.cityName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('city','required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadSource">Lead Source<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="leadSource"
                    placeholder="Enter Lead Source" readonly>
                  <mat-error
                    *ngIf="isControlHasError('leadSource','required')">
                    Lead Source is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="state">State<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="state"
                    [placeholder]="statePlaceholderName">
                    <mat-option *ngFor="let name of StateName" [value]="name.id">
                      {{name.stateName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('state','required')">
                    State is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="area">Area<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="area" placeholder="Enter Area">
                  <mat-error *ngIf="isControlHasError('area','required')">
                    Area is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadSource">Lead Source<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadSource" [placeholder]="leadSourcePlaceholderName">
                    <mat-option *ngFor="let name of LeadSourceName" [value]="name.id">
                      {{name.leadSourceName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadSource','required')">
                    Lead Source is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="addEditForm.get('leadMaintainceStatus')?.value == 'Open'">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadMaintainceStatus">Lead Status<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="leadMaintainceStatus"
                    placeholder="Enter Lead Status">
                  <mat-error *ngIf="isControlHasError('leadMaintainceStatus','required')">
                    Lead Status is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label >Asssined To</label></div>
              <div class="col-8">
                <span class="form-control spanTextBoxHeight">{{AsssinedToPlaceHolder}}</span>
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="viewLeadStage=='New'">
            <div class="row">
              <div class="col-4 mt-2"><label >Lead Stage</label></div>
              <div class="col-8">
                <span class="form-control spanTextBoxHeight">{{viewLeadStage}}</span>
              </div>
            </div>
          </div>
          <!-- <div class="col-6 " [ngClass]="viewLeadStage=='New'? 'mt_20px' : ''" *ngIf="ViewleadStatus?.id==1">
            <div class="row">
              <div class="col-4 mt-2"><label >Lead Status</label></div>
              <div class="col-8">
                <span class="form-control spanTextBoxHeight">{{ViewleadStatus.leadStatus}}</span>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="card p-3 mt-4 mt-r" *ngIf="LeadScheduleScreen">
        <span class="card_header text-primary">Lead Schedule</span>
        <div class="row">

          <!-- <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="assign_To">Asssined To<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="assign_To"
                    placeholder="Enter Asssined To">
                  <mat-error *ngIf="isControlHasError('assign_To','required')">
                    Asssined To is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="scheduleDate">Schedule Date<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput [matDatepicker]="picker1" autocomplete="off" readonly (focus)="picker1.open()"
                    formControlName="scheduleDate" placeholder="MM/DD/YYYY">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error
                    *ngIf="isControlHasError('scheduleDate','required')">
                    Schedule Date is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="convenientTime">Convenient
                  Time<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="convenientTime"
                    placeholder="Select Convenient Time">
                    <mat-option *ngFor="let time of ConvenientTime"
                      [value]="time.value">
                      {{time.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="isControlHasError('convenientTime','required')">
                    Convenient Time <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="leadScheduleStatusOnlyView">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadScheduleStatus">Lead Status<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadScheduleStatus"
                    [placeholder]="leadStatusPlaceholderName">
                    <mat-option *ngFor="let name of LeadStatusName" [value]="name.id">
                      {{name.leadStatus}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadScheduleStatus','required')">
                    Lead Status is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="scheduledRemark">Remark<span
                    class="text-danger"> *</span></label></div>
              <div class="col-10">
                <mat-form-field class="example-full-width" appearance="outline">
                  <textarea maxlength="500" matInput formControlName="scheduledRemark" placeholder="Enter Remark"></textarea>
                  <mat-error *ngIf="isControlHasError('scheduledRemark','required')">
                    Remark is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card p-3 mt-4 mt-r" *ngIf="LeadLoanScreen">
        <span class="card_header text-primary">Lead Loan Details</span>
        <div class="row">

          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="loanAmount">Loan Ammount<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="loanAmount"  (keypress)="omitSpecialChar($event);omitCharacters($event);"
                    placeholder="Enter Loan Ammount">
                  <mat-error
                    *ngIf="isControlHasError('loanAmount','required')">
                    Loan Ammount is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="product">Product<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="product"
                    placeholder="Enter Product">
                  <mat-error *ngIf="isControlHasError('product','required')">
                    Product is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="tenor">Tenor<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="tenor" (keypress)="omitSpecialChar($event);omitCharacters($event);"
                    placeholder="Enter Tenor">
                  <mat-error *ngIf="isControlHasError('tenor','required')">
                    Tenor is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="file_upload">File Upload<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                  <input type="file" formControlName="file_upload" (change)="onSelectFile($event)" multiple
                    placeholder="Enter File Upload">
                  <mat-error *ngIf="isControlHasError('file_upload','required')">
                    File Upload is <strong>required</strong>
                  </mat-error>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadLoanStatus">Lead Status<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadLoanStatus"
                    [placeholder]="leadStatusLoanPlaceholderName">
                    <mat-option *ngFor="let name of LeadStatusName" [value]="name.id">
                      {{name.leadStatus}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadLoanStatus','required')">
                    Lead Status is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-12" formArrayName="file_upload" *ngFor="let file of addEditForm.get('file_upload')?.value; let i=index">
            <div class="row" [formGroupName]="i">
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-4 mt-2"><label for="type">Document Name<span
                          class="text-danger"> *</span></label></div>
                    <div class="col-8">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-select formControlName="type" placeholder="Select Document Name">
                          <mat-option *ngFor="let name of documentUploadType"
                            [value]="name.value">
                            {{name.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isControlHasError('type','required')">
                          Document Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  </div>
                <div class="col-md-4"><input type="file" formControlName="file"></div>
                <div class="col-md-4"><input type="text" formControlName="name"></div>
            </div>
          </div>
          <button type="button" mat-raised-button (click)="addMoreImage()"color="primary">Add More</button> -->

          <div class="col-8">
            <div class="row">
              <div class="col-2 mt-2"><label for="remarkLeadLoan">Remark<span
                    class="text-danger"> *</span></label></div>
              <div class="col-10">
                <mat-form-field class="example-full-width"
                  appearance="outline">
                  <textarea maxlength="500" matInput formControlName="remarkLeadLoan"
                    placeholder="Enter Remark"></textarea>
                  <mat-error
                    *ngIf="isControlHasError('remarkLeadLoan','required')">
                    Remark is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <!-- <div class="col-2 position-relative" *ngFor='let url of urls'>
                <img  [src]="url" style="height: 100px;width:100px">
                <i matTooltip="Remove File" class="icon-remove-circle remove_iocn"></i>
              </div> -->
              <!-- <div *ngFor='let fileNames of fileName ; index as i'>
                <i class="icon-ok">{{fileNames}}</i>
              </div> -->


              <ul *ngIf="fileName">
                <li *ngFor="let fileNames of fileName ;index as i">{{fileNames}}<i (click)="removeFile(i)" class="ri-close-circle-line text-danger customRemove"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card p-3 mt-4 mt-r" *ngIf="VerifyBtnDiv">
        <span class="card_header text-primary">Verification</span>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="mobileNoVarification">Mobile No. OTP Verification<span
                    class="text-danger"> *</span></label></div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="mobileNoVarification"
                    placeholder="Enter Mobile No. OTP Verification">
                  <mat-error *ngIf="isControlHasError('mobileNoVarification','required')">
                    Mobile No. OTP Verification is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-4 position-relative">
                <button mat-raised-button color="primary" (click)="mobileVerify()" [disabled]="getMobileNoFromResBtnDisable" >{{mobileVerifyText}} </button>
                <i *ngIf="getMobileNoFromResBtnDisable" class="ri-checkbox-circle-line text-success optSucees"></i>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="emailIdVarification">Email Id OTP Verification<span
                    class="text-danger"> *</span></label></div>
              <div class="col-6">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="emailIdVarification"
                    placeholder="Enter Email Id OTP Verification">
                  <mat-error *ngIf="isControlHasError('emailIdVarification','required')">
                    Email Id OTP Verification is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-4 position-relative">
                <button mat-raised-button color="primary" (click)="emailVerify()" [disabled]="getEmailNoFromResBtnDisabl">{{emailVerifyText}}</button>
                <i *ngIf="getEmailNoFromResBtnDisabl" class="ri-checkbox-circle-line text-success optSucees"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card p-3 mt-4 mt-r" *ngIf="leadApprovalScreen">
        <span class="card_header text-primary">Lead Approval</span>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="CibilScore">Cibil Score<span
                    class="text-danger"> *</span></label></div>
              <div class="col-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="CibilScore" placeholder="Enter Cibil Score">
                  <mat-error *ngIf="isControlHasError('CibilScore','required')">
                    Cibil Score is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-4">
                <div class="row p-0">
                  <div class="col-6"> <button mat-raised-button class="w-100">Cibil Trigger</button></div>
                  <div class="col-6"><button mat-raised-button class="w-100">Cibil Report</button></div>
                </div>
            </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadStage">Lead Approval<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadStage" (valueChange)="LeadApprovalChange($event)"
                    placeholder="Select Lead Approval">
                    <mat-option *ngFor="let name of LeadApprovalArray"
                      [value]="name.viewValue">
                      {{name.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="isControlHasError('leadStage','required')">
                    Lead Approval is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="RejectReasonSelect">
            <div class="row">
              <div class="col-4 mt-2"><label for="rejectReason">Reject Reason<span
                    class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="rejectReason"
                    placeholder="Select Reject Reason">
                    <mat-option *ngFor="let time of LeadApprovalArray"
                      [value]="time.value">
                      {{time.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="isControlHasError('rejectReason','required')">
                    Reject Reason is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6" *ngIf="leadApprovedStatusOnlyViewNotEdit">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadApprovedStatus">Lead Status<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadApprovedStatus"
                    [placeholder]="leadStatusApprovedPlaceholderName">
                    <mat-option *ngFor="let name of LeadStatusName" [value]="name.id">
                      {{name.leadStatus}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadApprovedStatus','required')">
                    Lead Status is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="approvedRemark">Remark<span
                    class="text-danger"> *</span></label></div>
              <div class="col-10">
                <mat-form-field class="example-full-width" appearance="outline">
                  <textarea maxlength="500" matInput formControlName="approvedRemark" placeholder="Enter Remark"></textarea>
                  <mat-error *ngIf="isControlHasError('approvedRemark','required')">
                    Remark is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn"
        (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()"
        color="primary">{{crateleadBtnName}}</button>
    </div>
  </mat-card-actions>
</mat-card>
</main>
