<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Role</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-3"><label for="application">Application<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="application" placeholder="Select Application">
                  <mat-option *ngFor="let name of applicationName" [value]="name.value">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('application','required')">
                  Application is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-6 d-none">
          <div class="row">
            <div class="col-4 mt-3"><label for="id">id<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input hidden type="text" matInput formControlName="id" placeholder="Enter id">
                <mat-error *ngIf="isControlHasError('id','required')">
                  id is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-3"><label for="roleCode">Role Code<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="roleCode" placeholder="Enter Role Code">
                <mat-error *ngIf="isControlHasError('roleCode','required')">
                  Role Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-2 mt-3"><label for="roleName">Description<span
                  class="text-danger"> *</span></label></div>
            <div class="col-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <textarea matInput formControlName="roleName" placeholder="Enter Description"></textarea>
                <mat-error *ngIf="isControlHasError('roleName','required')">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()" color="primary">{{createAddEditBtnName}}</button>
      </div>
  </mat-card-actions>
</mat-card>
</main>
