<main id="main" class="main">
<div class="row">
  <div [ngClass]="!creditRole ? 'col-8'  : 'col-6'">
    <div class="pagetitle">
      <h1>Leads</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Leads</li>
            <li class="breadcrumb-item active">Leads</li>
         </ol>
      </nav>
   </div>
  </div>
  <div class="col-4">
    <mat-form-field appearance="standard" class="filterStyle pt-0">
      <mat-label>Search</mat-label>
      <input matInput #dataSourceFilter class="padding3px0px" (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
  </mat-form-field>
  </div>
  <div class="col-2" *ngIf="creditRole">
    <button mat-raised-button color="primary" class="w-100" (click)="addData()">Create</button>
  </div>

    <!-- <div class="col-10">

    </div>
    <div class="col-2">
        <button mat-raised-button color="primary" (click)="addData()">Create</button>
    </div> -->

    <!-- <div class="d-flex justify-content-between align-items-center">
      <h2>Leads</h2>
      <div>
        <mat-form-field appearance="standard" class="filterStyle">
          <mat-label>Search</mat-label>
          <input matInput #dataSourceFilter (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addData()">Create</button>
      </div>

    </div> -->
</div>
<div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="leadId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Id </th>
            <td mat-cell *matCellDef="let row"> {{row.leadId}} </td>
        </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="mobileNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
                <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
            <ng-container matColumnDef="leadStage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Lead Stage</th>
              <td mat-cell *matCellDef="let row"> {{row.leadStage}} </td>
          </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                 <span class="text-primary" (click)="editViewAction(row.id,'view')"><i class="ri-eye-fill" matTooltip="View"></i></span>
                 <span *ngIf="agencyRole && callCenterRole && salesRole && creditRole" class="px-2">|</span>
                 <span *ngIf="agencyRole && callCenterRole && salesRole && creditRole" class="text-danger" (click)="editViewAction(row.id,'edit')"><i class="bx bxs-edit" matTooltip="Edit"></i></span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="7">No Record Found...</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>
</main>
