<ngx-http-loader [opacity]="0.7" [loader]="loader.MULTICIRCLE" [iconColor]="'#0096FF'" [backdropBackgroundColor]="'black'">
</ngx-http-loader>
<app-header *ngIf="!( _router.url === '/auth/login' || _router.url === '/home/pages-error404')" ></app-header>
<app-sidebar *ngIf="!( _router.url === '/auth/login' || _router.url === '/home/pages-error404')" ></app-sidebar>
<router-outlet></router-outlet>
<app-footer *ngIf="!( _router.url === '/auth/login' || _router.url === '/home/pages-error404')" ></app-footer>
