.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-card-title-style{
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
}
.Save_btn{
  color: white;
  background-color: gray;
}
.btn_group{
  display: flex;
  justify-content: right;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {

  height: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
top: 8px;
}
