<main id="main" class="main">
  <mat-card>
    <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Enquiry</mat-card-title>
    <mat-card-actions class="p-2">
      <form [formGroup]="addEditForm">
        <div class="row">
          <div class="row m-0 p-0">
            <div class="col-6">
              <div class="row">
                <div class="col-4 mt-2"><label for="firstName">First Name<span class="text-danger"> *</span></label></div>
                <div class="col-8">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input type="text" matInput formControlName="firstName" placeholder="Enter First Name">
                    <mat-error *ngIf="isControlHasError('firstName','required')">
                      First Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-4 mt-2"><label for="lastName">Last Name<span class="text-danger"> *</span></label></div>
                <div class="col-8">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name">
                    <mat-error *ngIf="isControlHasError('lastName','required')">
                      Last Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="mobileNo">Mobile Number<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="mobileNo"
                    (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                    placeholder="Enter mobile number">
                  <mat-error *ngIf="isControlHasError('mobileNo','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('mobileNo','required')">
                    Mobile Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('mobileNo','maxlength') || isControlHasError('mobileNo','minlength')">
                    Mobile Number should be in 10 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="product">Product<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="product" placeholder="Enter Product">
                  <mat-error *ngIf="isControlHasError('product','required')">
                    Product is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="postalCode">Pincode<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="pincodeSelect($event.value)" formControlName="postalCode" [placeholder]="pincodePlaceHolder">
                    <mat-option *ngFor="let name of PincodeName" [value]="name.id">
                      {{name.pincode}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('postalCode','required')">
                    Pincode is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="citySelect($event.value)" formControlName="city" [placeholder]="cityPlaceHolder">
                    <mat-option *ngFor="let name of CityName" [value]="name.id">
                      {{name.cityName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('city','required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn_group mt-2">
        <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
        <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
        <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()" color="primary">{{createAddEditBtnName}}</button>
        </div>
    </mat-card-actions>
  </mat-card>
  </main>
