<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/home']" [skipLocationChange]="true" [routerLinkActive]="['active']">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="callCenterRole || salesRole || agencyRole || creditRole">
      <a class="nav-link collapsed" data-bs-target="#Leads-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span>Leads</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="Leads-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a [routerLink]="['/home/lead']" [skipLocationChange]="true" [routerLinkActive]="['active']">
            <i class="bi bi-circle"></i>
            <span>Leads</span>
          </a>
        </li>
        <li *ngIf="salesRole">
          <a [routerLink]="['/home/enquiry-worklist']" [skipLocationChange]="true" [routerLinkActive]="['active']">
            <i class="bi bi-circle"></i>
            <span>Enquiry Worklist</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="CRMRole">
      <a class="nav-link collapsed" data-bs-target="#CRM-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span>CRM</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="CRM-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li *ngIf="CRMRole">
          <a [routerLink]="['/home/enquiry']" [skipLocationChange]="true" [routerLinkActive]="['active']">
            <i class="bi bi-circle"></i>
            <span>Enquiry</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="salesRole || creditRole ">
      <!-- || agencyRole -->
      <a class="nav-link collapsed" data-bs-target="#LeadManagement-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i>
        <span>Lead Management</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="LeadManagement-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li *ngIf="salesRole || creditRole ">
          <a [routerLink]="['/home/worklist']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Worklist</span>
          </a>
        </li>
        <li *ngIf="salesRole">
          <a [routerLink]="['/home/manual-assignment']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Manual Assignment</span>
          </a>
        </li>
        <!-- <li *ngIf="agencyRole">
          <a [routerLink]="['/home/lead-maintance']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Lead Maintance</span>
          </a>
        </li> -->
      </ul>
    </li>
    <li class="nav-item" *ngIf="adminRole">
      <a class="nav-link collapsed" data-bs-target="#administartion-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i>
        <span>Administartion</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="administartion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a [routerLink]="['/home/user']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>User</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/role']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Role</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="adminRole">
      <a class="nav-link collapsed" data-bs-target="#masters-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i>
        <span>Masters</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="masters-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a [routerLink]="['/home/branch']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Branch</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/user-department']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>User Department</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/user-designation']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>User Designation</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/lead-source']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Lead Source</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/lead-status']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Lead Status</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/reason-master']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Region Master</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/reject-reason']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Reject Reason</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="adminRole">
      <a class="nav-link collapsed" data-bs-target="#geographyMasters-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i>
        <span>Geography Masters</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="geographyMasters-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a [routerLink]="['/home/countries']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Countries</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/states']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>States</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/home/cities']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Cities</span>
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="['/home/areas']"  [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Localities/Areas</span>
          </a>
        </li> -->
        <li>
          <a [routerLink]="['/home/pincode']" [routerLinkActive]="['active']" [skipLocationChange]="true">
            <i class="bi bi-circle"></i>
            <span>Pincode</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
