<main id="main" class="main">
<div class="row">
  <div class="col-6">
    <div class="pagetitle">
      <h1>Users</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Administartion</li>
            <li class="breadcrumb-item active">Users</li>
         </ol>
      </nav>
   </div>
  </div>
  <div class="col-4">
    <mat-form-field appearance="standard" class="filterStyle pt-0">
      <mat-label>Search</mat-label>
      <input matInput #dataSourceFilter class="padding3px0px" (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
  </mat-form-field>
  </div>
  <div class="col-2">
    <button mat-raised-button color="primary" class="w-100" (click)="addData()">Create</button>
  </div>
</div>
<div>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="userType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User Type</th>
          <td mat-cell *matCellDef="let row"> {{row.userType}} </td>
      </ng-container>
      <ng-container matColumnDef="loginID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Login Id</th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
    </ng-container>

          <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
              <td mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</td>
          </ng-container>
          <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name </th>
              <td mat-cell *matCellDef="let row"> {{row.branch == "" ? '-' : row.branch[0]['branchName'] }} </td>
          </ng-container>
          <ng-container matColumnDef="mobileNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
              <td mat-cell *matCellDef="let row"> {{row.role == "" ? '-' : row.role[0]['roleName'] }}</td>
          </ng-container>
          <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Departement </th>
              <td mat-cell *matCellDef="let row"> {{row.departement == "" ? '-' : row.department[0]['description'] }} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
             <span class="text-primary" (click)="editViewAction(row.id,'view')"><i class="ri-eye-fill" matTooltip="View"></i></span>
             <span class="px-2">|</span>
             <span class="text-danger" (click)="editViewAction(row.id,'edit')"><i class="bx bxs-edit" matTooltip="Edit"></i></span>
             <span class="px-2">|</span>
             <span class="text-success" (click)="changePasswordAction(row.id,row.firstName,row.lastName,'changePassword')"><i class="ri-restart-fill" matTooltip="Change Password"></i></span>

            </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" colspan="7">No Record Found...</td>
          </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
  </div>
</div>
</main>
