.example-full-width {
  width: 100%;
}
.spanTextBoxHeight{
  height: 30px;
  margin-top: 6px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(0,0,0,0.06);
}
h1{
  border-bottom: 1px solid gainsboro;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0,0,0,.12);
  border:0
} */
.mb_20{
  margin-bottom: 20px;
}
