<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->

  <form [formGroup]="addEditForm">
    <!-- <div class="row">
      <div class="col-12"> -->
          <div class="row mb_20">
            <div class="col-5 mt-2"><label >User Name</label></div>
            <div class="col-7">
              <span class="form-control spanTextBoxHeight">{{data.fname}} {{data.lname}}</span>
            </div>
          </div>
        <div class="row">
          <div class="col-5 mt-2"><label for="newPassword">New Password<span class="text-danger"> *</span></label></div>
          <div class="col-7">
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password">
              <mat-error *ngIf="isControlHasError('newPassword','required')">
                New Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      <!-- </div>
      <div class="col-12"> -->
        <div class="row">
          <div class="col-5 mt-2"><label for="c_password">Re-enter New Password<span class="text-danger"> *</span></label>
          </div>
          <div class="col-7">
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="password" matInput formControlName="c_password" placeholder="Enter Re-enter New Password">
              <mat-error *ngIf="isControlHasError('c_password','required')">
                Re-enter New Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="isControlHasError('c_password','confirmPasswordValidator')">
                Password not <strong>Match</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      <!-- </div>
    </div> -->
  </form>
  <!-- <div class="btn_group mt-4">
    <button mat-raised-button (click)="changePassword()"
      color="primary">Change Password</button>
  </div> -->
</div>
<div mat-dialog-actions style="float: right;">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
  <button mat-raised-button (click)="closeDialog()">Close</button>
  <button mat-raised-button (click)="changePassword()" color="primary">Change Password</button>
</div>
