.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .mat-card-title-style{
    padding-bottom: 12px;
    border-bottom: 1px solid gainsboro;
  }
  .Save_btn{
    color: white;
    background-color: gray;
  }
  .btn_group{
    display: flex;
    justify-content: right;
  }
