<main id="main" class="main">
  <mat-card>
    <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Reject Reason</mat-card-title>
    <mat-card-actions class="p-2">
      <form [formGroup]="addEditForm">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="regionCode">Reject Reason Code<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="regionCode" placeholder="Enter Reject Reason Code">
                  <mat-error *ngIf="isControlHasError('regionCode','required')">
                    Reject Reason Code is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="active">Active<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                  <mat-slide-toggle color="primary" formControlName="active" class="mt-2"></mat-slide-toggle>
                  <mat-error *ngIf="isControlHasError('active','required')">
                    Active is <strong>required</strong>
                  </mat-error>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-2 mt-2"><label for="regionName">Description<span
                    class="text-danger"> *</span></label></div>
              <div class="col-10">
                <mat-form-field class="example-full-width" appearance="outline">
                  <textarea matInput formControlName="regionName" placeholder="Enter Description"></textarea>
                  <mat-error *ngIf="isControlHasError('regionName','required')">
                    Description is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="btn_group mt-2">
        <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
        <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
        <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()" color="primary">{{createAddEditBtnName}}</button>
        </div>
    </mat-card-actions>
  </mat-card>
  </main>
