<main id="main" class="main">
  <div class="row">
    <div class="col-8">
      <div class="pagetitle">
        <h1>Manual Assignment</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">Lead Management</li>
              <li class="breadcrumb-item active">Manual Assignment</li>
           </ol>
        </nav>
     </div>
    </div>
    <div class="col-4">
      <mat-form-field appearance="standard" class="filterStyle pt-0">
        <mat-label>Search</mat-label>
        <input matInput #dataSourceFilter class="padding3px0px" (keyup)="applyFilter(dataSourceFilter.value)" placeholder="Search" #input>
    </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="primary" class="w-100" (click)="addData()">Create</button>
    </div>
  </div>
  <div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="leadId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Id </th>
            <td mat-cell *matCellDef="let row"> {{row.leadId}} </td>
        </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName+" "+row.lastName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
            <ng-container matColumnDef="mobileNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
                <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
            </ng-container>
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                <td mat-cell *matCellDef="let row"> {{row.dateOfBirth | date}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row">
               <span class="text-primary" (click)="editViewAction(row.id,'view')"><i class="ri-eye-fill" matTooltip="View"></i></span>
               <span class="px-2">|</span>
               <span class="text-danger" (click)="editViewAction(row.id,'edit')"><i class="bx bxs-edit" matTooltip="Edit"></i></span>
              </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" colspan="6">No Record Found...</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[8, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
  </div>
  </main>
