<main id="main" class="main">
<mat-card>
  <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} City</mat-card-title>
  <mat-card-actions class="p-2">
    <form [formGroup]="addEditForm">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="cityCode">City Code<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="cityCode"
                  placeholder="Enter City">
                <mat-error *ngIf="isControlHasError('cityCode','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="cityName">City Name<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="cityName"
                  placeholder="Enter City Name">
                <mat-error
                  *ngIf="isControlHasError('cityName','required')">
                  City Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="stateId">State<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="stateSelect($event.value)" formControlName="stateId" placeholder="Select
                State">
                  <mat-option *ngFor="let name of StateName"
                    [value]="name.id">
                    {{name.stateName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('stateId','required')">
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="countryId">Country<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select (selectionChange)="countrySelect($event.value)" formControlName="countryId" placeholder="Select
                  Country">
                  <mat-option *ngFor="let name of countryName"
                    [value]="name.id">
                    {{name.countryName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('countryId','required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="cityClassification">City Classification<span
                  class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="cityClassification" placeholder="Select
                City Classification">
                  <mat-option *ngFor="let name of cityClassificationName"
                    [value]="name.value">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('cityClassification','required')">
                  City Classification is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

              <div class="col-6 mb-3">
                <div class="row">
                  <div class="col-4 mt-2"><label for="active">Active<span
                        class="text-danger"> *</span></label></div>
                  <div class="col-8">
                    <mat-slide-toggle color="primary" formControlName="active"
                      class="mt-2"></mat-slide-toggle>
                    <mat-error *ngIf="isControlHasError('active','required')">
                      Active is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
              </div>
            </div>

    </form>
    <div class="btn_group mt-2">
      <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
      <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
      <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()"
        color="primary">{{createAddEditBtnName}}</button>
    </div>
  </mat-card-actions>
</mat-card>
</main>
