/* You can add global styles to this file, and also import other style files */

html, body { min-height: 80vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-outline .mat-form-field-infix
{
    padding: 8px 0px;
}
 label {
  display: inline-block;
  font-size: 13px !important;
}
/*
.mat-input-element
{
  font-size: 14px !important;
} */
.mat-form-field-infix {
  border-top: solid transparent;
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(10%) !important;
}

.mat-form-field {
  font-size: 13px !important;
}

.mat-card-title {
  font-size: 20px !important;
}
tr.mat-row, tr.mat-footer-row {
  height: 35px !important;
}
.main{
  min-height: 83vh;
}

tr.mat-header-row{
  height: 45px !important;
}

.mat-paginator-outer-container{
  height: 40px;
}
.mat-paginator-container{
  margin-top: -8px;
}
.mat-paginator-page-size{
  margin-top: 5px;
}
