.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-card-title-style{
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
}
.Save_btn{
  color: white;
  background-color: gray;
}
.btn_group{
  display: flex;
  justify-content: right;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {

  height: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
top: 8px;
}

.card_header{
  display: inline;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    background-color: white;
    padding: 0px 10px;
}
.spanTextBoxHeight{
  height: 30px;
  margin-top: 6px;
  width: 100%;
  color: rgba(0,0,0,.40);
  font-size: 12px;
  border-color: rgba(0,0,0,0.06);
}

.card{
  border: 1px solid;
}
.card_header{
  border-top: 1px solid black;
    border-radius: 10px;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
