<main id="main" class="main">
  <mat-card>
    <mat-card-title class="mat-card-title-style">{{addEditHeadTitle}} Lead</mat-card-title>
    <mat-card-actions class="p-2">
      <form [formGroup]="addEditForm">
        <div class="row" *ngIf="hideAddEditForm">
          <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="salutation">Salutation<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="salutation" placeholder="Enter Salutation">
                <mat-error *ngIf="isControlHasError('salutation','required')">
                  Salutation is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="firstName">First Name<span class="text-danger"> *</span></label>
              </div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="firstName" placeholder="Enter First Name">
                  <mat-error *ngIf="isControlHasError('firstName','required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="lastName">Last Name<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name">
                  <mat-error *ngIf="isControlHasError('lastName','required')">
                    Last Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- <div class="row m-0 p-0">

          <div class="col-4">
            <div class="row">
              <div class="col-4 mt-2"><label for="salutation">Salutation<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="salutation" placeholder="Select Salutation">
                    <mat-option *ngFor="let name of salutationArray" [value]="name.viewValue">
                      {{name.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('salutation','required')">
                    Salutation is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-4 mt-2"><label for="firstName">First Name<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="firstName" placeholder="Enter First Name">
                  <mat-error *ngIf="isControlHasError('firstName','required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-4 mt-2"><label for="lastName">Last Name<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="lastName" placeholder="Enter Last Name">
                  <mat-error *ngIf="isControlHasError('lastName','required')">
                    Last Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

        </div> -->

          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="mobileNo">Mobile Number<span class="text-danger"> *</span></label>
              </div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="mobileNo"
                    (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                    placeholder="Enter mobile number">
                  <mat-error *ngIf="isControlHasError('mobileNo','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('mobileNo','required')">
                    Mobile Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('mobileNo','maxlength') || isControlHasError('mobileNo','minlength')">
                    Mobile Number should be in 10 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="mobileNo2">Alternate Mobile No.<span class="text-danger"> *</span></label>
              </div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="mobileNo2"
                    (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="10" maxlength="10"
                    placeholder="Enter mobile number">
                  <mat-error *ngIf="isControlHasError('mobileNo2','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('mobileNo2','required')">
                    Mobile Number is <strong>required</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="isControlHasError('mobileNo2','maxlength') || isControlHasError('mobileNo2','minlength')">
                    Mobile Number should be in 10 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="email">Email Id<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="email" matInput formControlName="email" placeholder="Enter Email Id">
                  <mat-error *ngIf="isControlHasError('email','required')">
                    Email Id is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('email','email')">
                    Please enter Valid Email Id
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="gender">Gender<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="gender" placeholder="Select Gender">
                    <mat-option *ngFor="let name of genderName" [value]="name.viewValue">
                      {{name.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('gender','required')">
                    Gender is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="dateOfBirth">Date of Birth<span class="text-danger">
                    *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <!--  [max]="maxDob"  -->
                  <input autocomplete="off" matInput readonly (focus)="picker.open()"
                    [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="MM/DD/YYYY">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="isValidAge">
                    Age should be <strong>more than 18 </strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('dateOfBirth','required')">
                    Date of Birth is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="pan">Pan Number<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" #panCard matInput formControlName="pan" (keyup)="addEditForm.get('pan')?.patchValue(panCard.value.toUpperCase())" maxlength="10" placeholder="Enter Pan Number">
                  <mat-error *ngIf="isControlHasError('pan','pattern')">
                    For Example <strong>BNZAA2318J</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('pan','required')">
                    Pan Number is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="aadhar">Addhar Number<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="aadhar"
                    (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="12" maxlength="12"
                    placeholder="Enter Addhar Number">
                  <mat-error *ngIf="isControlHasError('aadhar','pattern')">
                    This field required only numeric values
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('aadhar','required')">
                    Addhar Number is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="isControlHasError('aadhar','maxlength') || isControlHasError('aadhar','minlength')">
                    Addhar Number should be in 12 digits only
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="city" placeholder="Select City">
                  <mat-option *ngFor="let name of cityName" [value]="name.value">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('city','required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="state">State<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="state" placeholder="Select State">
                  <mat-option *ngFor="let name of StateName" [value]="name.id">
                    {{name.stateName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('state','required')">
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="country">Country<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="country" placeholder="Select Country">
                  <mat-option *ngFor="let name of countryName" [value]="name.value">
                    {{name.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('country','required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="postalCode">Pincode Number<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="postalCode"
                  (keypress)="omitSpecialChar($event);omitCharacters($event);" minlength="6" maxlength="6"
                  placeholder="Enter Pincode Number">
                <mat-error *ngIf="isControlHasError('postalCode','pattern')">
                  This field required only numeric values
                </mat-error>
                <mat-error *ngIf="isControlHasError('postalCode','required')">
                  Pincode Number is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="isControlHasError('postalCode','maxlength') || isControlHasError('postalCode','minlength')">
                  Pincode Number should be in 10 digits only
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->

          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="city">City<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="citySelect($event.value)" formControlName="city"
                    [placeholder]="cityPlaceHolder">
                    <mat-option *ngFor="let name of CityName" [value]="name.id">
                      {{name.cityName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('city','required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="state">State<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="stateSelect($event.value)" formControlName="state"
                    [placeholder]="satetPlaceHolder">
                    <mat-option *ngFor="let name of StateName" [value]="name.id">
                      {{name.stateName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('state','required')">
                    State is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="country">Country<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="countrySelect($event.value)" formControlName="country"
                    [placeholder]="countryPlaceHolder">
                    <mat-option *ngFor="let name of countryName" [value]="name.id">
                      {{name.countryName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('country','required')">
                    Country is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="postalCode">Pincode<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select (selectionChange)="pincodeSelect($event.value)" formControlName="postalCode"
                    [placeholder]="pincodePlaceHolder">
                    <mat-option *ngFor="let name of PincodeName" [value]="name.id">
                      {{name.pincode}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('postalCode','required')">
                    Pincode is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="area">Area<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input type="text" matInput formControlName="area" placeholder="Enter Area">
                  <mat-error *ngIf="isControlHasError('area','required')">
                    Area is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadSource">Lead Source<span class="text-danger"> *</span></label>
              </div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadSource" [placeholder]="leadSourcePlaceHolder">
                    <mat-option *ngFor="let name of LeadSourceName" [value]="name.id">
                      {{name.leadSourceName}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadSource','required')">
                    Lead Source is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="row">
              <div class="col-4 mt-2"><label for="leadStatus">Lead Status<span class="text-danger"> *</span></label></div>
              <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-select formControlName="leadStatus"
                    [placeholder]="leadStatusPlaceholderName">
                    <mat-option *ngFor="let name of LeadStatusName" [value]="name.id">
                      {{name.leadStatus}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isControlHasError('leadStatus','required')">
                    Lead Status is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div> -->


          <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="leadSource">Lead Source<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="leadSource" placeholder="Enter Lead Source">
                <mat-error *ngIf="isControlHasError('leadSource','required')">
                  Lead Source is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
          <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="leadStage">Lead Status<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="leadStage" placeholder="Enter Lead Status">
                <mat-error *ngIf="isControlHasError('leadStage','required')">
                  Lead Status is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
          <!-- <div class="col-6">
          <div class="row">
            <div class="col-4 mt-2"><label for="assign_To">Asssined To<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="example-full-width" appearance="outline">
                <input type="text" matInput formControlName="assign_To" placeholder="Enter Asssined To">
                <mat-error *ngIf="isControlHasError('assign_To','required')">
                  Asssined To is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->

          <!-- <div class="col-6" *ngIf="assignToHideForSales">
          <div class="row">
            <div class="col-4 mt-2"><label for="userId">Asssined To<span class="text-danger"> *</span></label></div>
            <div class="col-8">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select formControlName="userId" [placeholder]="AsssinedToPlaceHolder">
                  <mat-option *ngFor="let name of AssignToName" [value]="name.id">
                    {{name.firstName}} {{name.lastName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isControlHasError('userId','required')">
                  Asssined To is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div> -->
        </div>



          <section>
            <div class="card p-3 mt-4" *ngIf="viewLeadAllDetailsOnly">
              <!-- && allLeadDetails.leadStage=='New' -->
            <span class="card_header text-primary">Lead Details</span>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Id</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.leadId}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Name</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.firstName}}
                      {{allLeadDetails.lastName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Mobile Number</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.mobileNo}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Mobile Number 2</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.mobileNo2}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Email Id</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.email}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Gender</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.gender}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Date of Birth</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.dateOfBirth | date:'d MMMM , y'}}</span>
                  </div>
                </div>
              </div>

              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Pan Number</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.pan}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Addhar Number</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.aadhar}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >City</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.city?.cityName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Area</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.pincode?.areaName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >State</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.state?.stateName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Source</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.leadSource?.leadSourceName}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Stage</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.leadStage}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2" *ngIf="allLeadDetails.leadStatus?.id == '1'">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Status</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails?.leadStatus?.leadStatus}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Asssined To</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.assignTo?.firstName}} {{allLeadDetails.assignTo?.lastName}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </section>

          <section>
            <div class="card p-3 mt-4" *ngIf="viewLeadAllDetailsOnly && allLeadDetails.createdBy!='Sales' && allLeadDetails.scheduleDate !=null ">
            <span class="card_header text-primary">Lead Schedule</span>
            <div class="row">
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Schedule Date</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.scheduleDate | date:'EEEE, MMMM d,y'}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Convenient Time</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.convenientTime}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Remark</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.scheduledRemark}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2" *ngIf="allLeadDetails.loanRemark == null">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Status</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails?.leadStatus?.leadStatus}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </section>

          <section>
            <div class="card p-3 mt-4" *ngIf="(viewLeadAllDetailsOnly && (allLeadDetails.leadStage=='Under process') || allLeadDetails.leadStage=='Approved' || allLeadDetails.leadStage=='Reject' || allLeadDetails.leadStage=='Under Review')">
            <span class="card_header text-primary">Lead Loan Details</span>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Ammount</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.loanAmount}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Product</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.product}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Tenor</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.tenor}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >File Upload</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.file_upload}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2" *ngIf="allLeadDetails.approvedRemark == null">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Status</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails?.leadStatus?.leadStatus}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Remark</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.loanRemark}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </section>

          <section>
            <div class="card p-3 mt-4" *ngIf="viewLeadAllDetailsOnly && ( allLeadDetails.leadStage=='Approved' || allLeadDetails.leadStage=='Reject' || allLeadDetails.leadStage=='Under Review')">
            <span class="card_header text-primary">Lead Approval Deatils</span>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Cibil Score</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.CibilScore}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Approval</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.leadStage}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2" *ngIf="hideRejectReason">
                <div class="row">
                  <div class="col-4 mt-2"><label >Reject Reason</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.rejectReason}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Lead Status</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails?.leadStatus?.leadStatus}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 mt-2">
                <div class="row">
                  <div class="col-4 mt-2"><label >Remark</label></div>
                  <div class="col-8">
                    <span class="form-control spanTextBoxHeight">{{allLeadDetails.approvedRemark}}</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </section>

      </form>
      <div class="btn_group mt-2">
        <button mat-raised-button (click)="cancelAddEditForm()">Close</button>
        <!-- <button mat-raised-button *ngIf="saveBtn" class="Save_btn" (click)="saveAddEditForm()">Save</button> -->
        <button mat-raised-button *ngIf="createBtn" (click)="createAddEditForm()"
          color="primary">{{createAddEditBtnName}}</button>
      </div>
    </mat-card-actions>
  </mat-card>
</main>
